<div class="wrapper">
    <app-header title="Новости" navbackcolor='linear-gradient(to bottom,#3fa30a,#6fd439)' buttoncolor='#3fa30a'></app-header>
    <app-button backcolor='#3fa30a' buttoncolor="#6fd439"> </app-button>
    <div class="container-fluid mr-2 ml-2">
        <div class="news row  d-flex justify-content-center">
            <div class="col-md-8">
                <app-main-feed></app-main-feed>
            </div>
            <div class="col-md-4">
                <app-belorusneft></app-belorusneft>
            </div>
        </div>
    </div>
</div>