<app-header title="Направления деятельности" navbackcolor='linear-gradient(to bottom,#00B5F9,#96D8E5)' buttoncolor='#00B5F9'>
</app-header>
<app-button backcolor='#00B5F9' buttoncolor="#96D8E5"> </app-button>
<div class="container-fluid">
    <div class="row justify-content-center align-items-start">
        <div class="col-md-4" *ngFor="let c of services">
            <div class="card card-body" [@appear]="app">
                <h4 class="card-title">{{c.name}}</h4>
                <p class="card-text">{{c.description}}</p>
                <div class="card-text">
                    <ul *ngFor="let s of c.services">
                        <li *ngIf="s.projects.length!=0">
                            <a href="/projects#{{s.id}}" internal-link>{{s.name}} </a>
                        </li>
                        <li *ngIf="s.projects.length==0">
                            <p>
                                {{s.name}}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>