<body>
    <div class="navbar navbar-dark bg-dark p-3">
        <h1 class="navbar-brand">Museum-BGPZ Admin</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-danger btn-block" (click)="logout()">
                    Logout
                    </button>
                <button id="employees" class="btn btn-primary btn-block" routerLink="/admin/main/employees" routerLinkActive="active">
                     Сотрудники
                    </button>
                <button id="achievements" class="btn btn-primary btn-block" routerLink="/admin/main/achievements">
                        Достижения
                       </button>
                <button id="rewards" class="btn btn-primary btn-block" routerLink="/admin/main/rewards">
                        Награды
                       </button>
                <button id="rewarded" class="btn btn-primary btn-block" routerLink="/admin/main/rewarded">
                        Награждённые
                       </button>
                <button id="projects" class="btn btn-primary btn-block" routerLink="/admin/main/projects">
                        Проекты
                       </button>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</body>