body {
    height: 100vh;
    overflow-x: hidden;
    background-color: gray;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-brand {
    font-size: 24pt;
}

.btn {
    color: white;
    margin-bottom: 10px;
}

.container-fluid {
    overflow: hidden;
}