<body>
    <div class="navbar navbar-dark bg-dark p-3">
        <h1 class="navbar-brand">Museum-BGPZ Admin</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-danger btn-block" (click)="logout()">
                    Logout
                    </button>
                <button id="employees" class="btn btn-primary btn-block" routerLink="/admin/main/employees" routerLinkActive="active">
                     Сотрудники
                    </button>
                <button id="achievementcategories" class="btn btn-primary btn-block" routerLink="/admin/main/achievement-categories">
                        Достижения / Категории
                       </button>
                <button id="achievements" class="btn btn-primary btn-block" routerLink="/admin/main/achievements">
                        Достижения
                       </button>
                <button id="rewards" class="btn btn-primary btn-block" routerLink="/admin/main/rewards">
                        Награды
                       </button>
                <button id="rewarded" class="btn btn-primary btn-block" routerLink="/admin/main/rewarded">
                        Награждённые
                       </button>
                <button id="projects" class="btn btn-primary btn-block" routerLink="/admin/main/projects">
                        Проекты
                       </button>
                <button id="gallerycategories" class="btn btn-primary btn-block" routerLink="/admin/main/gallery-categories">
                        Галереи/Категории
                       </button>
                <button id="galleries" class="btn btn-primary btn-block" routerLink="/admin/main/galleries">
                        Галереи/Фото
                       </button>
                <button id="galleryvideos" class="btn btn-primary btn-block" routerLink="/admin/main/gallery-videos">
                        Галереи/Видео
                       </button>
                <button id="corporateyear" class="btn btn-primary btn-block" routerLink="/admin/main/corporate-years">
                        Корпоративная жизнь / Год
                       </button>
                <button id="corporatemonth" class="btn btn-primary btn-block" routerLink="/admin/main/corporate-months">
                        Корпоративная жизнь / Месяц
                       </button>
                <button id="history" class="btn btn-primary btn-block" routerLink="/admin/main/history-milestones">
                        Вехи истории
                       </button>
                <button id="department" class="btn btn-primary btn-block" routerLink="/admin/main/departments">
                        Структура
                       </button>
                <button id="boss" class="btn btn-primary btn-block" routerLink="/admin/main/bosses">
                        Руководители
                       </button>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</body>