<div class="navbar navbar-inverse bg-info p-3 m-3">
    <h1 class="navbar-brand">MUSEUM-BGPZ Admin Authentification</h1>
</div>
<div class="bg-danger m-1 p-1 text-xs-center" *ngIf="errorMessage != null">
    <h4>{{errorMessage}}</h4>
</div>
<div class="p-2 m-2">
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
        <div class="form-group col-md-6">
            <label>Name</label>
            <input class="form-control" name="username" size="10" [(ngModel)]="name" #user="ngModel" required />
            <div [hidden]="user.valid || !user.touched" class="alert alert-danger">
                Имя не указано
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Password</label>
            <input class="form-control" type="password" size="10" name="password" [(ngModel)]="password" #pass="ngModel" required />
            <div [hidden]="pass.valid || !pass.touched" class="alert alert-danger">
                Пароль не указан
            </div>
        </div>
        <div class="text-xs-center">
            <button class="btn btn-secondary m-2" routerLink="/">Go back</button>
            <button class="btn btn-primary m-2" type="submit">Log In</button>
        </div>
    </form>
</div>