<app-header title="{{title}}" navbackcolor='linear-gradient(to bottom,#55694a,#3eab02)' buttoncolor='#55694a'>
</app-header>
<app-button backcolor='#55694a' buttoncolor="#3eab02"> </app-button>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" *ngFor="let v of veterans">
            <span class="card">
                  <img src="{{veteransUrl}}/{{v.id}}/Photo/{{v.photoId}}" class="card-img-top" alt="..." >
                  <div class="card-body">
                    <h4 class="card-title">{{v.name}}</h4>
                    <div class="card-text">
                      <p >{{v.position}}</p>
                      <p>Дата рождения: {{v.birthDay}}г. </p>
                      <p>Период работы c {{v.recruitDate}} - {{v.dateEnd}} </p>
                     </div>
                  </div>                 
               </span>
        </div>
    </div>
</div>