<app-header title="Достижения" navbackcolor='linear-gradient(to bottom,#3c6626,#419415)' buttoncolor='#3c6626'>
</app-header>
<app-button backcolor='#3c6626' buttoncolor="#419415"> </app-button>
<div class="container-fluid">
    <h2 id="diploma" class="title">Дипломы, грамоты, награды</h2>
    <div class="rewards" *ngFor="let c of categories | async" class="title">
        <h3>
            {{c.name}}
        </h3>
        <div class="row d-flex justify-content-around align-items-start">
            <div class="col-md-3 diploma align-items-center justify-content-around" *ngFor="let ach of c.achievements; let i = index">
                <img class="img-fluid img" src="{{achUrl}}/{{ach.id}}/Image" (click)="active=i;achievements = c.achievements" data-toggle="modal" data-target="#ModalImage">
                <h5>{{ach.name}}</h5>
            </div>
        </div>
    </div>
</div>

<div id="ModalImage" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="achCarousel" class="carousel slide" data-interval="10000" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li *ngFor="let p of achievements; let j = index" [ngClass]="{'active':  j === active }"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let p of achievements;let u = index;" [ngClass]="{'active':  u === active}">
                        <img src="{{achUrl}}/{{p.id}}/Image" class="d-block w-100">
                        <div class="carousel-caption">
                            <h5>{{p.name}}</h5>
                        </div>
                    </div>
                </div>
                <a *ngIf="achievements.length > 1" class="carousel-control-prev" href="#achCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon fontIcon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a *ngIf="achievements.length > 1" class="carousel-control-next" href="#achCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon fontIcon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>