.awards {
    margin-top: 80px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/achievements/awards_back.png');
}

h2 {
    margin-top: 50px;
}

.title1 {
    color: #294D8D;
}

.title2 {
    color: #FFFFFF;
}

.title3 {
    color: #294D8D;
}

.content {
    height: 250px;
    overflow: hidden;
}

.award-right,
.award-left {
    height: 50%;
}

.year {
    position: relative;
    left: 25px;
    color: #F99300;
    margin-top: 25px;
    font-weight: 700;
    font-size: 15pt;
}

.text {
    position: relative;
    left: 5px;
    color: #F99300;
    font-weight: 700;
}

.diploma {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/achievements/diploma_back.png');
}

.сert {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/achievements/сert_back.png');
}