<div class="wrapper">
    <app-header title="{{department.shortName}}" [links]="[{'key':'team', 'value': 'Состав'}, 
    {'key': 'projects', 'value': projectTab}, 
    {'key':'grafic', 'value': indicators.graficTab}]" navbackcolor='linear-gradient(to bottom,#13490a,#18b855)' buttoncolor='#13490a'>
    </app-header>
    <app-image backimage="{{headerUrl}}" height="300px" formcolor="#13490a" formtext="{{department.description}}"></app-image>
    <app-button backcolor='#13490a' buttoncolor="#18b855"> </app-button>
    <div class="container-fluid">
        <div class="row justify-content-center" id="team">
            <div class="col-md-11">
                <div class="row d-flex justify-content-center">
                    <h2>Состав команды</h2>
                </div>
                <div class="row  d-flex justify-content-center">
                    <p class="subtitle">ЧИСЛЕНОСТЬ ОТДЕЛА: {{number}} </p>
                </div>

                <div class="row  d-flex justify-content-center">
                    <div class="col-md-4 boss">
                        <img class="img-fluid" src="{{empUrl}}/{{boss.id}}/Photo" alt="...">
                        <h5 class="bossname">{{boss.name}}</h5>
                        <p class="bossposition">{{boss.position}}</p>
                    </div>

                    <div class="col-md-7 employees">
                        <div class="row  d-flex justify-content-center">
                            <div class="col-md-3 employee" *ngFor="let e of employees">
                                <h6 class="name">{{e.name}}</h6>
                                <p class="position">{{e.position}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center" id="projects">
            <div class="col-md-11">
                <div class="row d-flex justify-content-center align-items-center">
                    <h2>Выполненные проекты</h2>
                </div>
                <div class="row d-flex justify-content-around align-items-start">
                    <div class="col-md-4" *ngFor="let p of projects">
                        <div class="project d-flex align-items-end" data-toggle="modal" data-target="#Modal" (click)="title=p.name; description=p.description" class="project d-flex align-items-start justify-content-left " [ngStyle]="{'background-image':'url('+this.projectUrl + '/' + p.id + '/Image'+')'}"
                            [style.background-color]="p.color ">
                            <div class="title d-flex  align-items-end">
                                <a class="projectname">{{p.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Modal" class="modal fade " role="dialog " aria-labelledby="modaltitle " aria-hidden="true ">
                    <div class="modal-dialog modal-lg " role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="modaltitle">{{title}}</h2>
                                <button type="button " class="close " data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>
                            <div class="modal-body">
                                <p class="description" [innerHTML]="description"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-grafic></app-grafic>
    </div>
</div>