.wrapper {
    position: relative;
    overflow-x: hidden;
}

::ng-deep h2 {
    padding-top: 50px;
    text-align: center;
    color: #13490a;
}

.container-fluid {
    margin-top: -120px;
}

.subtitle {
    background-color: #13490a;
    padding: 10px 50px 10px 50px;
    color: white;
    margin-bottom: 40px;
}

.boss {
    padding: 20px;
    margin-right: 50px;
}

.employee {
    padding: 20px;
}

.bossname {
    font-size: 14pt;
    font-weight: 600;
}

.bossposition {
    font-size: 10pt;
    hyphens: auto;
}

.name {
    font-size: 12pt;
    font-weight: 600;
}

.position {
    font-size: 10pt;
    hyphens: auto;
}

.project {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    cursor: pointer;
}

.title {
    height: 100%;
    border-radius: 20px;
    width: 100%;
    background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(01, 03, 07, 0.3) 33%, #020711 100%) 0% 0% no-repeat padding-box;
}

.projectname,
.projectname:hover {
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: 600;
}

.modal-title {
    color: #18b855;
}

.close {
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

@keyframes hover {
    from {
        background-position: 100% 20%;
    }
    to {
        background-position: 70% 20%;
    }
}