.wrapper {
    position: relative;
    overflow-x: hidden;
}

::ng-deep h2 {
    padding-top: 50px;
    text-align: center;
    color: #13490a;
}

.container-fluid {
    margin-top: -120px;
}

.subtitle {
    background-color: #13490a;
    padding: 10px 50px 10px 50px;
    color: white;
    margin-bottom: 40px;
}

.boss {
    padding: 20px;
    margin-right: 50px;
}

.employee {
    padding: 20px;
}

.bossname {
    font-size: 14pt;
    font-weight: 600;
}

.bossposition {
    font-size: 10pt;
    hyphens: auto;
}

.name {
    font-size: 12pt;
    font-weight: 600;
}

.position {
    font-size: 10pt;
    hyphens: auto;
}