@keyframes move {
    from {
        top: 150px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.card-title {
    font-weight: 700;
    font-size: 17pt;
}

.card-content {
    font-size: 12pt;
    color: black;
}

.date {
    font-size: 10pt;
    color: black;
}

.card {
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
    animation: move 2s 1 alternate backwards;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-align: left;
    overflow: hidden;
}

.card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

a {
    color: #3fa30a;
}

a:hover {
    text-decoration: none;
}

a:hover .card-title {
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: #3fa30a;
    animation: appear 1s linear 2s normal backwards;
}

h5 {
    animation: appear 1s linear 3s normal backwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}