<body>
    <app-header title="Галерея/Видео" [links]="[]" navbackcolor='linear-gradient(to bottom,#029e1b,#46f062)' buttoncolor='#029e1b'>
    </app-header>
    <app-button backcolor="#029e1b" buttoncolor="#46f062"> </app-button>
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-nav">
            <p class="nav-item" *ngFor="let c of categories">
                <a class="nav-link active" routerLink="/galleryvideos/category/{{c.name}}">{{c.name}} </a>
            </p>
            <p class="nav-item">
                <a class="nav-link active" routerLink="/galleryvideos/category/all">Все видео </a>
            </p>
        </div>
    </nav>
    <div class="container-fluid videos">
        <app-video-category [videos]="videos"></app-video-category>
    </div>
</body>