<body>
    <app-header title="Галерея/Видео" [links]="[]" navbackcolor='linear-gradient(to bottom,#029e1b,#46f062)' buttoncolor='#029e1b'>
    </app-header>
    <app-button backcolor="#029e1b" buttoncolor="#46f062"> </app-button>
    <div class="container-fluid videos">
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col-md-5 card" *ngFor="let v of videos | async">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls="controls" poster="{{videoUrl}}/{{v.id}}/Photo">
                            <source src="/assets/images/BGPZ_2016_1080_23.98p.mpeg" type='video/mpeg; codecs="avc1.42E01E, mp4a.40.2 "'>                          
                     </video>
                </div>
                <h5 class="card-title ">
                    {{v.name}}
                </h5>
            </div>

        </div>
    </div>
</body>