<body>
    <app-header title="Галерея/Видео" [links]="[]" navbackcolor='linear-gradient(to bottom,#029e1b,#46f062)' buttoncolor='#029e1b'>
    </app-header>
    <app-button backcolor="#029e1b" buttoncolor="#46f062"> </app-button>
    <div class="container-fluid videos">
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col-md-5" *ngFor="let v of videoUrls">
                <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video width="400" height="230" controls="controls" poster="/assets/images/history/history.png">
                                <source src="{{v.value}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2 "'>
                                <a href="video/duel.mp4">Скачайте видео</a>.
                         </video>
                    </div>
                    <h5 class="card-title ">
                        {{v.key}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</body>