.bosses {
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    position: relative;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-align: left;
    overflow: hidden;
}

.card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 15px 15px;
}

.card-title {
    font-size: 14pt;
    font-weight: 600;
}

.card-text {
    font-size: 10pt;
    hyphens: auto;
}

body {
    background-color: darkolivegreen;
}