<body>
    <app-header title="Галерея/Фото" [links]="[]" navbackcolor='linear-gradient(to bottom,#029e1b,#46f062)' buttoncolor='#029e1b'>
    </app-header>
    <app-button backcolor="#029e1b" buttoncolor="#46f062"> </app-button>
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-nav">
            <p class="nav-item" *ngFor="let c of categories">
                <a class="nav-link active" routerLink="/galleryphotos/{{c.id}}/category" (click)="getCategoryById(c.id)">{{c.name}} </a>
            </p>
            <p class="nav-item">
                <a class="nav-link active" routerLink="/galleryphotos/all" (click)="allGalleries()">Все галлереи </a>
            </p>
        </div>
    </nav>
    <div class="container-fluid">
        <app-gallery-category [galleries]="galleries"></app-gallery-category>
    </div>
</body>