.head,
#addHeader,
#photoHeader {
    background-color: #3b7be3;
}

h3 {
    color: white;
    margin-top: 20px;
}

#add {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-title {
    font-weight: 700;
    color: white;
}

.modal-body {
    font-size: 14pt;
    font-weight: 400;
}