<div class="head p-3">
    <h3>Таблица месяцев для страницы "Корпоративная жизнь"</h3>
</div>
<input id="add" data-toggle="modal" data-target="#addModal" type="button" class="btn btn-primary" value="Добавить месяц" (click)="addMonth()" />
<ag-grid-angular id="ag-grid" style="width: 100%; height: 100vh;" class="ag-theme-alpine-dark" [gridOptions]='gridOptions' [columnDefs]="columnDefs" [rowData]="rowData">
</ag-grid-angular>
<div class="modal fade" id="addModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" id="addHeader">
                <h2 class="modal-title" id="title">{{modalTitle}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <form #form="ngForm" (ngSubmit)="saveMonth(form)" class="col-md-10">
                    <label for="name">Введите название месяца:</label>
                    <input id="name" class="form-control" type="text" name="name" [(ngModel)]="editMonth.name" #name="ngModel" required />
                    <div [hidden]="name.valid" class="alert alert-danger">
                        Название не указано
                    </div>
                    <label for="description">Введите описание:</label>
                    <textarea id="description" class="form-control" type="text" name="description" [(ngModel)]="editMonth.description" #description="ngModel" required></textarea>
                    <div [hidden]="description.valid" class="alert alert-danger">
                        Описание события
                    </div>
                    <label for="year">Выберите год:</label>
                    <select id="year" class="form-control" type="number" name="year" #year="ngModel" [(ngModel)]="editMonth.yearId" required>
                        <option *ngFor="let y of years" value="{{y.id}}">{{y.year}}                          
                        </option>
                    </select>
                    <div [hidden]="year.valid" class="alert alert-danger">
                        Год не указан
                    </div>
                    <h5 id="modalMessage" class="alert alert-info" role="alert" [style.color]="modalColor">{{modalMessage}}</h5>
                    <input type="submit" value="Сохранить" class="btn btn-success" />
                    <input type="button" value="Отмена" (click)="cancel()" data-dismiss="modal" class="btn btn-danger" />
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalPhoto" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="photoHeader" class="modal-header">
                <h2 class="modal-title" id="photoTitle">Фото месяца</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center">
                        <h4>Добавить ещё фото</h4>
                    </div>
                    <div class="d-flex justify-content-around">
                        <input #fileInput id="file" class="form-control-file" type="file" name="file" (change)="handleFileInput($event.target.files)" required />
                        <input type="button" value="Добавить" (click)="savePhoto()" class="btn btn-success btn-block">
                    </div>
                    <hr>
                    <h5 id="photoMessage" class="alert alert-info" role="alert" [style.color]="modalColor">{{modalMessage}}</h5>
                </div>
                <div id="corpCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li *ngFor="let item of photos; let i = index" [attr.data-slide-to]="active" [ngClass]="{'active':  i === 0 }"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let photo of photos;let u = index;" [ngClass]="{'active':  u === 0}">
                            <input type="button" value="Удалить" (click)="deletePhoto(photo, u);" class="btn btn-danger btn-lg btn-block" />
                            <div class="img-container d-flex-justify-content-center">
                                <img src="{{url}}/{{editID}}/Photo/{{photo}}" class="d-block h-100 img-fluid">
                            </div>
                            <div class="carousel-caption">

                            </div>
                        </div>
                    </div>
                    <a id="prev" class="carousel-control-prev" href="#corpCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon fontIcon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a id="next" class="carousel-control-next" href="#corpCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon fontIcon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>