<div class="get p-3">
    <h3>Gallery's Table</h3>
</div>
<table class="table table-striped table-bordered table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date</th>
            <th>CategoryID</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let g of galleries">
            <td>{{g.id}}</td>
            <td>{{g.name}}</td>
            <td>{{g.date}}</td>
            <td>{{g.categoryId}}</td>
            <td>
                <button type="submit" (click)="allPhotoView(g.id,g.items)" class="btn btn-primary" data-toggle="modal" data-target="#modalPhoto">Фото</button>
            </td>
        </tr>
    </tbody>
</table>
<form (ngSubmit)="getGalleries(number)">
    <div class="form-group">
        <label for="number">Максисмальное число галерей:</label>
        <input id="number" class="p-2" type="text" name="number" [(ngModel)]="number" required />
    </div>
    <button type="submit" class="btn btn-primary">Выбрать</button>
</form>
<div class="get p-3">
    <h3>Get Gallery (by Id)</h3>
</div>
<form (ngSubmit)="getGallery(id)">
    <div class="form-group">
        <label for="galId">Введите ID:</label>
        <input id="galId" class="form-control col-md-5" type="text" name="galId" [(ngModel)]="id" required />
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal">Выбрать</button>
</form>
<div class="get p-3">
    <h3>Get Gallery (by CategoryId)</h3>
</div>
<form (ngSubmit)="getGallerybyCategory(categoryId)">
    <div class="form-group">
        <label for="categoryId">Введите ID категории:</label>
        <input id="categoryId" class="form-control col-md-5" type="text" name="categoryId" [(ngModel)]="categoryId" required />
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal">Выбрать</button>
</form>
<div class="post p-3">
    <h3>Add Gallery</h3>
</div>
<form (ngSubmit)="addGallery(name, date, categoryId)">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="name">Введите название галереи:</label>
            <input id="name" class="form-control" type="text" name="name" [(ngModel)]="name" required />
            <label for="catId">Введите CategotryId:</label>
            <input id="catId" class="form-control" type="text" name="catId" [(ngModel)]="categoryId" required />
        </div>
        <div class="col-md-6">
            <label for="date">Введите дату:</label>
            <input id="date" class="form-control" type="date" name="date" [(ngModel)]="date" required />
        </div>
    </div>
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal">Добавить</button>
</form>
<div class="put p-3">
    <h3>Edit Gallery</h3>
</div>
<form (ngSubmit)="updateGallery(editId, editName, editDate, editCategoryId)">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="editId">Введите id галереи:</label>
            <input id="editId" class="form-control" type="text" name="editId" [(ngModel)]="editId" required />
            <label for="editName">Введите название галереи:</label>
            <input id="editName" class="form-control" type="text" name="editName" [(ngModel)]="editName" required />
        </div>
        <div class="col-md-6">
            <label for="editDate">Введите дату:</label>
            <input id="editDate" class="form-control" type="date" name="editDate" [(ngModel)]="editDate" required />
            <label for="editCategoryId">Введите CategotryId:</label>
            <input id="editCategoryId" class="form-control" type="text" name="editCategoryId" [(ngModel)]="editCategoryId" required />
        </div>
    </div>
    <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#modal">Изменить</button>
</form>
<div class="delete p-3">
    <h3>Delete Gallery</h3>
</div>
<form (ngSubmit)="deleteGallery(deleteId)">
    <div class="form-group">
        <label for="deleteId">Введите ID:</label>
        <input id="deleteId" class="form-control col-md-5" type="text" name="deleteId" [(ngModel)]="deleteId" required />
    </div>
    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#modal">Удалить</button>
</form>
<div class="get p-3">
    <h3>GalleryPhoto (double Id)</h3>
</div>
<form (ngSubmit)="getPhoto(galleryId,photoId)">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="galleryId">Введите ID галереи:</label>
            <input id="galleryId" class="form-control" type="text" name="galleryId" [(ngModel)]="galleryId" required />
        </div>
        <div class="col-md-6">
            <label for="photoId">Введите ID фото:</label>
            <input id="photoId" class="form-control" type="text" name="photoId" [(ngModel)]="photoId" required />
        </div>
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal">Выбрать</button>
</form>
<div class="post p-3">
    <h3>Add Photo</h3>
</div>
<form (ngSubmit)="addPhoto(postImageId)">
    <div class="form-group">
        <label for="postImageId">Введите Id галлереи:</label>
        <input id="postImageId" class="form-control" type="text" name="postImageId" [(ngModel)]="postImageId" required />
        <label for="file">Выберите фото:</label>
        <input #fileInput id="file" class="form-control-file" type="file" name="file" (change)="handleFileInput($event.target.files)" required />
    </div>
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal">Добавить</button>
</form>
<div class="delete p-3">
    <h3>Delete Photo</h3>
</div>
<form (ngSubmit)="deletePhoto(deleteGalleryId,deleteImageId)">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="deleteGalleryId">Введите ID галереи:</label>
            <input id="deleteGalleryId" class="form-control" type="text" name="deleteGalleryId" [(ngModel)]="deleteGalleryId" required />
        </div>
        <div class="col-md-6">
            <label for="deleteImageId">Введите ID фото:</label>
            <input id="deleteImageId" class="form-control" type="text" name="deleteImageId" [(ngModel)]="deleteImageId" required />
        </div>
    </div>
    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#modal">Удалить</button>
</form>
<div class="modal fade" id="modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" [style.backgroundColor]="modalColor">
                <h2 class="modal-title">{{modalTitle}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
                <img *ngIf="image" id="image" class="img-fluid p-2" src="{{image}}">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary col-md-4" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPhoto" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerPhoto">
                <h2 class="modal-title">Photo</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered table-responsive">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Photo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of photos">
                            <td>{{p}}</td>
                            <td>
                                <img id="photo" class="img-fluid p-2" src="{{backendUrl}}/{{galleryIdModal}}/item/{{p}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary col-md-4" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>