<body>
    <app-header [links]="[{'key':'communication', 'value': 'ПТУС'}, 
    {'key':'info','value': 'Инфотех'},{'key':'sis', 'value':'СИС'}]" title="{{title}}" navbackcolor='linear-gradient(to bottom,#294D8D,#4F74B7) ' buttoncolor='#294D8D '>
    </app-header>
    <app-image backimage="url(/assets/images/history/history_ref_header.png)" formcolor="#294D8D" formtext="<p>Производственное управление связи и информатики РУП «Производственное объединение «Белоруснефть» (ПУ «Связьинформсервис») создано 1 августа 2009 г. 
            Приказом генерального директора РУП «Производственное объ-единение «Белоруснефть» 
            от 17.06.2009 г. №510 путем слияния двух обособленных подразделений 
            Производственно-технического управления связи 
            и Производственного управления информационных технологий.</p>" height="300px"></app-image>
    <app-button buttoncolor='#4F74B7 ' backcolor="#294D8D"></app-button>

    <div class="ref">
        <div id="{{r.id}}" class="refblock container-fluid" *ngFor="let r of refs">
            <h2>{{r.name}}</h2>
            <div class="row d-flex justify-content-around">
                <div class="col-md-4" *ngFor="let d of r.description">
                    <p>{{d}}</p>
                </div>
                <div class="col-md-3" *ngFor="let i of r.items; " (click)="photo=i;ref=r">
                    <img class="img-fluid img" src="{{refUrl}}/{{r.id}}/Photo/{{i}}" data-toggle="modal" data-target="#Modalimage">
                    <div id="Modalimage" class="modal fade">
                        <div class="modal-dialog  modal-lg">
                            <img class="img-fluid" id="img_mod" src="{{refUrl}}/{{ref.id}}/Photo/{{photo}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>