<div class="get p-3">
    <h3>Veteran's Table</h3>
</div>
<table class="table table-striped table-bordered table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Birtdate</th>
            <th>RecruitDate</th>
            <th>FireDate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of veterans">
            <td>{{v.id}}</td>
            <td>{{v.name}}</td>
            <td>{{v.position}}</td>
            <td>{{v.birthDay}}</td>
            <td>{{v.recruitDate}}</td>
            <td>{{v.fireDate}}</td>
        </tr>
    </tbody>
</table>
<form (ngSubmit)="getVeterans(number)">
    <div class="form-group">
        <label for="number">Максисмальное число сотрудников:</label>
        <input id="number" class="p-2" type="text" name="number" [(ngModel)]="number" required />
    </div>
    <button type="submit" class="btn btn-primary">Выбрать</button>
</form>
<div class="get p-3">
    <h3>Get Veteran (by Id)</h3>
</div>
<form (ngSubmit)="getVeteran(id)">
    <div class="form-group">
        <label for="veteranId">Введите ID:</label>
        <input id="veteranId" class="form-control col-md-5" type="text" name="veteranId" [(ngModel)]="id" required />
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal">Выбрать</button>
</form>
<div class="post p-3">
    <h3>Add Veteran</h3>
</div>
<form (ngSubmit)="addVeteran(name, position, birthDate, recruitDate, fireDate)">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="name">Введите ФИО:</label>
            <input id="name" class="form-control" type="text" name="name" [(ngModel)]="name" required />
            <label for="position">Введите Должность:</label>
            <input id="position" class="form-control" type="text" name="position" [(ngModel)]="position" required />
            <label for="birthDate">Введите дату рождения:</label>
            <input id="birthDate" class="form-control" type="date" name="birthDate" [(ngModel)]="birthDate" required />
        </div>
        <div class="col-md-6">
            <label for="recruitDate">Введите дату принятия на работу:</label>
            <input id="recruitDate" class="form-control" type="date" name="recruitDate" [(ngModel)]="recruitDate" required />
            <label for="fireDate">Введите дату увольнения:</label>
            <input id="fireDate" class="form-control" type="date" name="fireDate" [(ngModel)]="fireDate" required />
        </div>
    </div>
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal">Добавить</button>
</form>
<div class="put p-3">
    <h3>Edit Veteran</h3>
</div>
<form (ngSubmit)="updateVeteran(editId, editName, editPosition, editBirthDate, editRecruitDate, editFireDate)">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="editId">Введите Id:</label>
            <input id="editId" class="form-control" type="text" name="editId" [(ngModel)]="editId" required />
            <label for="name">Введите ФИО:</label>
            <input id="name" class="form-control" type="text" name="name" [(ngModel)]="editName" required />
            <label for="position">Введите Должность:</label>
            <input id="position" class="form-control" type="text" name="position" [(ngModel)]="editPosition" required />
        </div>
        <div class="col-md-6">
            <label for="birthDate">Введите дату рождения:</label>
            <input id="birthDate" class="form-control" type="date" name="birthDate" [(ngModel)]="editBirthDate" required />
            <label for="recruitDate">Введите дату принятия на работу:</label>
            <input id="recruitDate" class="form-control" type="date" name="recruitDate" [(ngModel)]="editRecruitDate" required />
            <label for="fireDate">Введите дату увольнения:</label>
            <input id="fireDate" class="form-control" type="date" name="fireDate" [(ngModel)]="editFireDate" required />
        </div>
    </div>
    <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#modal">Изменить</button>
</form>
<div class="delete p-3">
    <h3>Delete Veteran</h3>
</div>
<form (ngSubmit)="deleteVeteran(deleteId)">
    <div class="form-group">
        <label for="deleteId">Введите ID:</label>
        <input id="deleteId" class="form-control col-md-5" type="text" name="deleteId" [(ngModel)]="deleteId" required />
    </div>
    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#modal">Удалить</button>
</form>
<div class="get p-3">
    <h3>VeteranPhoto (by Veteran Id)</h3>
</div>
<form (ngSubmit)="getPhoto(photoId)">
    <div class="form-group">
        <label for="photoId">Введите ID:</label>
        <input id="photoId" class="form-control col-md-5" type="text" name="photoId" [(ngModel)]="photoId" required />

    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal">Выбрать</button>
</form>
<div class="post p-3">
    <h3>Add Photo</h3>
</div>
<form (ngSubmit)="addPhoto(postPhotoId)">
    <div class="form-group">
        <label for="postPhotoId">Введите Id сотрудника:</label>
        <input id="postPhotoId" class="form-control" type="text" name="postPhotoId" [(ngModel)]="postPhotoId" required />
        <label for="file">Выберите фото:</label>
        <input #fileInput id="file" class="form-control-file" type="file" name="file" (change)="handleFileInput($event.target.files)" required />
    </div>
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal">Добавить</button>
</form>
<div class="delete p-3">
    <h3>Delete Photo</h3>
</div>
<form (ngSubmit)="deletePhoto(deletePhotoId)">
    <div class="form-group">
        <label for="deletePhotoId">Введите ID:</label>
        <input id="deletePhotoId" class="form-control col-md-5" type="text" name="deletePhotoId" [(ngModel)]="deletePhotoId" required />
    </div>
    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#modal">Удалить</button>
</form>
<div class="modal fade" id="modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" [style.backgroundColor]="modalColor">
                <h2 class="modal-title" id="title">{{modalTitle}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
                <img *ngIf="photo" id="photo" class="img-fluid p-2" src="{{photo}}">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary col-md-4" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>