<body>
    <app-header id="header" title="{{title}}" navbackcolor='linear-gradient(to bottom,#3492d9,#366a91)' buttoncolor='#366a91'>
    </app-header>
    <app-button backcolor='#366a91' buttoncolor="#3492d9"> </app-button>
    <div class="category">
        <div *ngFor="let c of categories;" class="container-fluid">
            <h2>{{c.name}} </h2>
            <ul class="description" [innerHTML]="c.description" style="list-style-type: square;">
            </ul>
            <div class="row images d-flex justify-content-around">
                <div class="col-md-4" *ngFor="let i of c.items">
                    <img class="img-fluid" src="{{socialUrl}}/{{c.id}}/Photo/{{i}}" data-toggle="modal" data-target="#Modalimage" (click)="photo=i;cat=c">
                </div>
                <div id="Modalimage" class="modal fade">
                    <div class="modal-dialog  modal-lg d-flex justify-content-center align-items-center">
                        <img class="img-fluid" id="img_mod" src="{{socialUrl}}/{{cat.id}}/Photo/{{photo}}">
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>