body {
    height: 100vh;
    overflow-x: hidden;
    background: url(/assets/images/corp-life.jpg) 50% 50% no-repeat;
}

h2 {
    color: #3492d9;
    text-align: center;
    text-transform: uppercase;
}

.description {
    font-weight: 600;
    font-size: 12pt;
    color: #8ab8db;
}

.category {
    margin-top: 100px;
}

ul {
    border: 5px solid #3492d9;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

li {
    list-style-type: square;
}

.images {
    margin-bottom: 100px;
}