.get {
    background-color: #3b7be3;
}

#headerServices {
    background-color: #3b7be3;
}

h3 {
    color: white;
    margin-top: 20px;
}

.post {
    background-color: #12a657;
}

.put {
    background-color: #e67d15;
}

.delete {
    background-color: #d61818;
}

.btn {
    margin-bottom: 20px;
}

.modal-title {
    font-weight: 700;
    color: white;
}

.modal-body {
    font-size: 14pt;
    font-weight: 400;
}