<div class="get p-3">
    <h3>SocialCategory's Table</h3>
</div>
<table class="table table-striped table-bordered table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of categories">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.description}}</td>
        </tr>
    </tbody>
</table>
<form (ngSubmit)="getCategories(number)">
    <div class="form-group">
        <label for="number">Максисмальное число категорий:</label>
        <input id="number" class="p-2" type="text" name="number" [(ngModel)]="number" required />
    </div>
    <button type="submit" class="btn btn-primary">Выбрать</button>
</form>
<div class="get p-3">
    <h3>Get SocialCategory (by Id)</h3>
</div>
<form (ngSubmit)="getCategory(id)">
    <div class="form-group">
        <label for="catId">Введите ID:</label>
        <input id="catId" class="form-control col-md-5" type="text" name="catId" [(ngModel)]="id" required />
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal">Выбрать</button>
</form>
<div class="post p-3">
    <h3>Add SocialCategory</h3>
</div>
<form (ngSubmit)="addCategory(name, description)">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="name">Введите название категории:</label>
            <input id="name" class="form-control" type="text" name="name" [(ngModel)]="name" required />
        </div>
        <div class="col-md-6">
            <label for="description">Введите описание катеогории:</label>
            <textarea id="description" class="form-control" type="text" name="description" [(ngModel)]="description" required> </textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal">Добавить</button>
</form>
<div class="put p-3">
    <h3>Edit SocialCategory</h3>
</div>
<form (ngSubmit)="updateCategory(editId, editName, editDescription)">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="editId">Введите id категории:</label>
            <input id="editId" class="form-control" type="text" name="editId" [(ngModel)]="editId" required />
            <label for="editName">Введите название категории:</label>
            <input id="editName" class="form-control" type="text" name="editName" [(ngModel)]="editName" required />
        </div>
        <div class="col-md-6">
            <label for="editDescription">Введите описание категории:</label>
            <textarea id="editDescription" class="form-control" type="text" name="editDescription" [(ngModel)]="editDescription" required> </textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#modal">Изменить</button>
</form>
<div class="delete p-3">
    <h3>Delete SocialCategory</h3>
</div>
<form (ngSubmit)="deleteCategory(deleteId)">
    <div class="form-group">
        <label for="deleteId">Введите ID:</label>
        <input id="deleteId" class="form-control col-md-5" type="text" name="deleteId" [(ngModel)]="deleteId" required />
    </div>
    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#modal">Удалить</button>
</form>
<div class="get p-3">
    <h3>SocialImage (by Social Id)</h3>
</div>
<form (ngSubmit)="getImage(imageId)">
    <div class="form-group">
        <label for="imageId">Введите ID:</label>
        <input id="imageId" class="form-control col-md-5" type="text" name="imageId" [(ngModel)]="imageId" required />

    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal">Выбрать</button>
</form>
<div class="post p-3">
    <h3>Add Image</h3>
</div>
<form (ngSubmit)="addImage(postImageId)">
    <div class="form-group">
        <label for="postImageId">Введите Id категории:</label>
        <input id="postImageId" class="form-control" type="text" name="postImageId" [(ngModel)]="postImageId" required />
        <label for="file">Выберите картинку:</label>
        <input #fileInput id="file" class="form-control-file" type="file" name="file" (change)="handleFileInput($event.target.files)" required />
    </div>
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal">Добавить</button>
</form>
<div class="delete p-3">
    <h3>Delete Image</h3>
</div>
<form (ngSubmit)="deleteImage(deleteImageId)">
    <div class="form-group">
        <label for="deleteImageId">Введите ID:</label>
        <input id="deleteImageId" class="form-control col-md-5" type="text" name="deleteImageId" [(ngModel)]="deleteImageId" required />
    </div>
    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#modal">Удалить</button>
</form>
<div class="modal fade" id="modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" [style.backgroundColor]="modalColor">
                <h2 class="modal-title" id="title">{{modalTitle}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
                <img *ngIf="image" id="image" class="img-fluid p-2" src="{{image}}">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary col-md-4" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>