<app-header title="{{title}}" navbackcolor='linear-gradient(to bottom,#1f4f1b,#13b806)' buttoncolor='#1f4f1b'>
</app-header>
<app-button backcolor="#1f4f1b" buttoncolor="#13b806"> </app-button>

<body>
    <div class="row main d-flex justify-content-around align-content-center">
        <div class="col-md-4" *ngFor='let d of dates'>
            <h2>{{d.name}}</h2>
            <ul>
                <li *ngFor="let x of d.dates">
                    <div class="row justify-content-around">
                        <p class="col-md-2 year">{{x.sdate}}</p>
                        <p class="col-md-9"> {{x.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>