body {
    background-blend-mode: multiply;
    height: 100vh;
    z-index: 0;
    background-size: 50%;
    background-color: #1f4f1b;
    overflow: hidden;
}

@supports (-ms-ime-align:auto) {
    body:after {
        content: '';
        background: transparentize(darken(#1f4f1b, 8), .3);
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}

.main {
    margin: auto;
    margin-top: 200px;
    color: white;
    opacity: 1;
    position: relative;
    z-index: 999;
}

h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: 700;
    border-bottom: 5px solid #F99300;
}

li {
    margin-top: 20px;
    list-style: none;
}

.year {
    font-size: 18pt;
    float: left;
    color: #F99300;
    font-weight: 700;
}