<h2 id="departments">Структура</h2>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 main">
            <h4>Директор</h4>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-3 structure{{i}}" *ngFor="let s of structures; let i=index">
            <div class="head">{{s.bossPosition}}</div>
            <div class="row d-flex" *ngFor="let d of s.substructures">
                <div class="col-md-5 district">
                    <a href="/departments/{{d.id}}">{{d.name}}</a>
                </div>

                <div class="col-md-5 sectors">
                    <div class="sector" *ngFor="let sect of d.sectors">
                        {{sect}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div *ngFor="let s of laststruct">
                <div class="last-head" *ngFor="let d of s.departments">
                    <a href="/departments/{{d.id}}">{{d.name}}</a>
                </div>
            </div>
        </div>
    </div>