.main {
    background-color: #18b855;
    color: black;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}

.head {
    color: black;
    font-size: 10pt;
    font-weight: 900;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: #d44646;
    border: 3px solid #874444;
}

.container-fluid {
    margin-bottom: 120px;
}

#structure0 {
    width: 57%;
}

#structure1 {
    width: 25%;
}

#staff {
    width: 17%;
}

#last a {
    font-size: 9pt;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
}

#subBoss {
    color: black;
    font-size: 9pt;
    font-weight: 900;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: #eda26f;
    border: 3px solid;
}

.district {
    margin-top: 20px;
    margin-left: 50px;
    border: 2px solid;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 7pt;
    hyphens: auto;
    word-wrap: break-word;
    text-transform: uppercase;
}

a {
    color: #13490a;
    text-transform: lowercase;
    text-transform: capitalize;
}

.sector {
    background-color: #18b855;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
    font-size: 6pt;
}