<h2 id="departments">Структура</h2>
<div class="row d-flex justify-content-center">

</div>
<div class="container">
    <div class="row d-flex align-items-center justify-content-start">
        <div class="col-md-1 main w-25">
            <h3>Директор</h3>
        </div>
        <div class="col-md-10">
            <div class="row d-flex justify-content-start align-items-start" id="structure{{i}}" *ngFor="let s of structures; let i = index">
                <div id="head{{i}}" class="head col-md-3 h-50">
                    <p>{{s.bossPosition}}</p>
                    <span *ngIf="s.heads !== null">
                        <div  class="subHead" *ngFor="let h of s.heads">
                            {{h}}
                        </div>
                    </span>
                </div>
                <div class="departments col-md-9">
                    <div class="row d-flex justify-content-left align-items-center">
                        <div class="district col-md-3" *ngFor="let d of s.departments">
                            <a href="/departments/{{d.id}}">{{d.name}}</a>
                            <span *ngIf="d.sectors !== null">
                                <div class="sector" *ngFor="let s of d.sectors">
                                    {{s}}
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-start align-items-center">
                <div class="col-md-3" *ngFor="let dep of departments;">
                    <div class="last">
                        <a href="/departments/{{dep.id}} ">{{dep.name}}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>