<div id="grafic" class="row d-flex justify-content-center">
    <div class="col-md-11 content">
        <div class="row  d-flex justify-content-center align-items-center">
            <h2 class="card-title">Экономические показатели</h2>
        </div>

        <div class="row  d-flex justify-content-around">
            <div class="col-md-6">
                <canvas id="volumePeriod"></canvas>
            </div>

            <div class="col-md-6 chart-container">
                <canvas id="volumeMonthly"></canvas>
            </div>
        </div>
        <p class="text">Себестоимость реализованных работ и услуг(тыс.руб.):</p>
        <div class="row  d-flex justify-content-around">
            <div class="col-md-6">
                <canvas id="servicepriceYear"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="servicepriceMonth"></canvas>
            </div>
        </div>
        <p class="text">Отдельные статьи затрат(тыс.руб.):</p>
        <div class="row  d-flex justify-content-around">
            <div class="col-md-6">
                <canvas id="expensesYear"></canvas>
            </div>
            <div class="col-md-6 ">
                <canvas id="expensesMonth"></canvas>
            </div>
        </div>
        <p class="text ">Финансовый результат от реализации и услуг(тыс.руб.) и рентабельность(%):</p>
        <div class="row d-flex justify-content-around ">
            <div class="col-md-6 ">
                <canvas id="financesYear"></canvas>
            </div>
            <div class="col-md-6 ">
                <canvas id="financesMonth"></canvas>
            </div>
        </div>
        <p class="text ">Средняя заработная плата:</p>
        <div class="row d-flex justify-content-around ">
            <div class="col-md-6 ">
                <canvas id="salaryYear"></canvas>
            </div>
            <div class="col-md-6 ">
                <canvas id="salaryMonth"></canvas>
            </div>
        </div>
        <p class="text ">Выполненный объём работ, услуг на 1 работника в месяц(собственными силами) :</p>
        <div class="row  d-flex justify-content-around ">
            <div class="col-md-6 ">
                <canvas id="workYear"></canvas>
            </div>
            <div class="col-md-6 ">
                <canvas id="workMonth"></canvas>
            </div>
        </div>

    </div>
</div>