<app-header title="{{title}}" navbackcolor='linear-gradient(to bottom,#55694a,#3eab02)' buttoncolor='#55694a'>
</app-header>
<app-button backcolor='#55694a' buttoncolor="#3eab02"> </app-button>
<div class="container-fluid">
    <div class="rewards" *ngFor="let r of rewards">
        <div class="row d-flex justify-content-around" *ngIf="r.rewardedEmployees">
            <div class="col-md-3">
                <h2>{{r.name}}</h2>
                <div class="col-md-10 justify-content-center">
                    <img class="img-fluid reward-photo" src="{{rewardsUrl}}/{{r.id}}/Photo" onerror="this.style.display='none'">
                </div>
            </div>
            <div class="col-md-9 row d-flex justify-content-left align-items-center">
                <div class="col-md-4" *ngFor="let emp of r.rewardedEmployees">
                    <span class="card">
                        <img src="{{employeeUrl}}/{{emp.id}}/Photo" class="card-img-top" alt="..." >
                        <div class="card-body">
                          <h4 class="card-title">{{emp.name}}</h4>
                          <div class="card-text">
                            <p>{{emp.position}}</p>
                            <p>Дата рождения: {{emp.dateBirth}}г. </p>
                            <p>Период работы c {{emp.dateStart}} - {{emp.dateEnd}} </p>
                            <div *ngFor="let rew of emp.rewards" >
                                 <p *ngIf="rew.rewardId === r.id">Год награждения: {{rew.dateReward}}</p>
                            </div>
                          </div>
                        </div>                 
                   </span>
                </div>
            </div>
        </div>
    </div>
</div>