<app-header title="{{title}}" navbackcolor='linear-gradient(to bottom,#1f4f1b,#499e62)' buttoncolor='#1f4f1b'>
</app-header>
<app-button backcolor="#1f4f1b" buttoncolor="#499e62"> </app-button>

<body>
    <div class="container-fluid">
        <div class="main d-flex justify-content-left  align-items-start" *ngFor="let d of dates">
            <div class="col-md-2">
                <h2>{{d.dateStart}} – {{d.dateEnd}}</h2>
            </div>
            <div class="col-md-10 description">
                <p [innerHTML]="d.description"></p>
                <div class="row d-flex justify-content-around align-items-start">
                    <div class="col-md-3" *ngFor="let hist of d.items;let i = index;">
                        <img class="img-fluid img" src="{{url}}/{{d.id}}/item/{{hist}}" (click)="date = d; active = i; getDescription(d.id,  d.items)" data-toggle="modal" data-target="#ModalImage">
                    </div>
                </div>
                <div id="ModalImage" class="modal fade">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content d-flex justify-content-center align-items-center">
                            <div id="historyCarousel" class="carousel slide" data-interval="10000" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li *ngFor="let item of photos; let i = index" [attr.data-slide-to]="active" [ngClass]="{'active':  i === active }"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item" *ngFor="let item of photos;let u = index;" [ngClass]="{'active':  u === active}">
                                        <div class="img-container">
                                            <img src="{{url}}/{{date.id}}/item/{{item.key}}" class="d-block mw-100 h-100 img-fluid">
                                            <div class="carousel-caption">
                                                <h5>{{item.value}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a *ngIf="photos.length > 1" class="carousel-control-prev" href="#historyCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon fontIcon"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a *ngIf="photos.length > 1" class="carousel-control-next" href="#historyCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon fontIcon"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>